<%- include('./partials/header.ejs') %>


    <div id="main-content-area">
        <div class="article">
            <aside class="article-img-container"><img src=<%=trade.image%> width ="400" height="260" /></aside>
            <section class="article-info">
                <h2>
                    <%= trade.make%>
                </h2>
                <br>
                <br>

                <form>
                    <div class="article-action">
                        <%if(user==trade.myProfile) {%>
                            <button type="submit" class="btn btn-primary" id="update" value="Update" formmethod="GET"
                                formaction="/trades/<%= trade.id%>/edit">Edit</button>
                            <%};%>
                                <%if(user==trade.myProfile) {%>
                                    <button type="submit" class="btn btn-danger" id="delete" value="Delete" formmethod="POST"
                                        formaction="/trades/<%= trade.id%>?_method=DELETE">Delete</button>
                                    <%};%>
                                    <%if(user!=trade.myProfile && !trade.inWatchlist) {%>
                                        <button type="submit" class="btn btn-secondary" id="addWatchList" value="Update"
                                            formmethod="POST"
                                            formaction="/trades/<%= trade.id%>/watchlist">Watchlist
                                        </button>
                                    <%};%>
                                    <%if(user!=trade.myProfile && trade.inWatchlist) {%>
                                        <button type="submit" class="btn btn-danger" id="addWatchList" value="Update"
                                            formmethod="POST"
                                            formaction="/trades/<%= trade._id%>/deleteWatchlist">Unwatch
                                        </button>
                                    <%};%>
                                    <%if(user!=trade.myProfile && cars.length > 0) {%>
                                        <button class="btn btn-primary" id="addWatchList" formmethod="GET" formaction="/trades/<%= trade.id%>/makeOffer?_method=GET">
                                            Make Offer
                                        </button>
                                    <%};%>
                                    <%if(user!=trade.myProfile && cars.length == 0) {%>
                                        <button class="btn btn-primary" id="addWatchList" formmethod="GET" formaction="/trades/new?_method=GET">
                                            Sell Car to trade
                                        </button>
                                    <%};%>
                    </div>
                </form>

                <br>
                <br>
                <p>
                    <%= trade.model%>
                </p>
                <p>
                    <%= trade.year%>
                </p>
                <p>
                    <%= trade.trim%>
                </p>
                <p>
                    <%= trade.mileage%>
                </p>
                <br>
                <br>
                <br>
                <!-- <br> -->
                <% if (reviews.length) { %>
                    <section class="testimonials">
                        <h2>Reviews</h2>
                        <br>
                        <div class="testimonial-slider">
                            <% reviews.forEach(function(review) { %>
                                <div class="testimonial">
                                    <div class="testimonial-content">
                                        <p><%= review.review %></p>
                                        <p class="testimonial-author">- <%= review.name %></p>
                                        <br>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </section>
                <% } %>
                <br>
                <br>
                <br>   
            <div class="article-action">
                <form action="/trades/<%=trade.id%>/reviews" method="POST">
                    <div>
                        <div class="form_details">
                            <textarea class="text-field" name="review" placeholder="Give your review here" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-secondary">Submit Review</button>
                    </div>
                </form>
            </div>   
            </section>
        </div>
    </div>
    







    <%- include('./partials/footer.ejs')%>